body {
    margin: 20px 50px; /* Adding margin on the left and right sides of the body */
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  

  .question {
    background-color: #6ee68a;
    padding: 10px;
    margin-bottom: 15px;
    width: 30%;
    margin-left: 15px;
    display: inline-block;
    text-align: left;
    border-radius: 20px; /* Adjust the value to control the roundness of the corners */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Apply a soft glow effect */
  }
  

.question > h2 {
  margin-bottom: 5px;
}

.question input[type="radio"] {
  margin-right: 10px; /* Add margin between options */
}
  
  button {
    display: block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result-container {
    text-align: center;
  }
  